*,
*::after,
*::before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:wght@400;500;600;700&display=swap");
@import url("reset.css");

/* FONTS!!! 
.imperial-script {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  Montserrat (Futura PT replacement)
  .montserrat-book {
    font-family: "Montserrat", sans-serif;
    font-weight: 400; 
    font-style: normal;
  }
  
  .montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500; 
    font-style: normal;
  }
  
  .montserrat-demi {
    font-family: "Montserrat", sans-serif;
    font-weight: 600; 
    font-style: normal;
  }
  
  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  */

  .flip {
    display: inline-block;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-size: 110px;
    line-height: 0.756;
    color: #000000;
    text-align: center;
    animation: flip 3s infinite linear;
    transform-origin: center;
  }
  
  @keyframes flip {
    0% {
      transform: rotateY(0deg);
      color: #000000;
    }
    50% {
      transform: rotateY(180deg);
      color: #000000;
    }
    100% {
      transform: rotateY(360deg);
      color: #000000;
    }
  }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


